.confirm-dialog {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  border-radius: 0.5rem;
}

.confirm-dialog p {
  margin-bottom: 20px;
  font-size: 18px;
}

.confirm-delete,
.confirm-done {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #8750a5;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.confirm-done:hover {
  background-color: #17a854;
}

.confirm-delete:hover {
  background-color: #db4747;
}

.confirm-cancel {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #8750a5;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.confirm-cancel:hover {
  background-color: #9991ca;
}

.no-scroll {
  overflow: hidden;
}
